@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: 'Comic Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
button {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 80px;
  background: #242424;
  outline: none;
  cursor: pointer;
  color: #f8f9fa;
}


input {
  font-family: 'Comic Neue', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.error {
  transition: all 0.2s;
}

p.error {
  transform: scale(1.5);
  color: red;
}