<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>

    <header>
        <div class="left">
            <h1>#Nodejs</h1>
        </div>
        <div class="right">
            <button class="logout">Logout</button>
        </div>
    </header>
    <main>
        <div class="chat-container" style="margin-top: auto;">
            <div id="chat-box"></div>
            <form id="messageForm">
                <input style="width: 80vw;" type="text" id="messageInput" placeholder="Type a message..." required>
                <button type="submit">Send</button>
            </form>
        </div>
    </main>
</body>
</html>