<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>

    <script>
        if(localStorage.getItem('token') === null) {
            window.location.href = "/login.html";
        }
    </script>

    <header>
        <div class="left">
            <h1>#Nodejs</h1>
        </div>
        <div class="right">
            <button style="display: flex; flex-direction: row; align-items: center; justify-content: center;"
            class="logout"><span style="margin-right: 4px;">Exit</span> <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="24px" fill="#F8F8F8"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg></button>
        </div>
    </header>
    <main>
        <div class="chat-container" style="margin-top: auto;">
            <div id="chat-box"></div>
            <form id="messageForm">
                <input style="width: 80vw;" type="text" id="messageInput" placeholder="Type a message..." required>
                <button type="submit">Send</button>
            </form>
        </div>
    </main>
</body>
</html>