<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>

    <header>
        <div class="left">
            <h1>Chat App</h1>
        </div>
    </header>
    <main>
        <h1>Please login to continue</h1>

        <form id="loginForm">
            <input aria-label="Username field" id="username" type="text" name="username" placeholder="Type your username">
            <input aria-label="Password field" id="password" type="password" name="username" placeholder="Type your password">
            <button type="submit">Login</button>
        </form>


        <p class="notice">Dont have an account? <a href="/register.html">Signup</a>now.</p>
    </main>

    <script>
        const notice = document.querySelector(".notice");
        const noticeInner = notice.innerHTML;
        document.getElementById("loginForm").addEventListener("submit", async function(event) {
            event.preventDefault(); 

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            try {
                const response = await fetch("/api/auth/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ username, password })
                });

                const data = await response.json();

                console.log(data);

                if (response.ok) {
                    console.log("Login successful!");
                    localStorage.setItem("token", data.token); 
                    localStorage.setItem('id', data.user_id);
                    window.location.href = "/join-room.html";
                } else {
                    const msg = data.message || "Wrong username or password";
                    notice.innerHTML = msg;
                    notice.classList.add("error");

                    setTimeout(() => {
                        notice.innerHTML = noticeInner;
                        notice.classList.remove("error");
                    }, 5000);
                    return;
                }
            } catch (error) {
                console.error("Error:", error);
                notice.innerHTML = "Failed to login. Try again later.";
                notice.classList.add("error");

                setTimeout(() => {
                    notice.innerHTML = noticeInner;
                    notice.classList.remove("error");
                }, 5000);
                return;
            }
        });
    </script>
</body>
</html>