<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>

    <header>
        <div class="left">
            <h1>Chat App</h1>
        </div>
    </header>
    <main>
        <h1>Let's get to know you better</h1>

        <form>
            <input aria-label="First Name" id="firstname" type="text" name="firstname" placeholder="Enter your first name">
            <input aria-label="last Name" id="lastname" type="text" name="lastname" placeholder="Enter your last name">
            <button type="submit">Let's Go!</button>
        </form>

    </main>

</body>
</html>