<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>

    <header>
        <div class="left">
            <h1>Chat App</h1>
        </div>
    </header>
    <main>
        <h1>Create a new account</h1>

        <form>
            <input aria-label="Username field" id="username" type="text" name="username" placeholder="Choose a username">
            <input aria-label="Password field" id="password" type="password" name="username" placeholder="Enter a password">
            <input aria-label="Password field" id="confirm-password" type="password" name="username" placeholder="Confirm password">
            <button type="submit">Register</button>
        </form>


        <p class="notice">Already have an account? <a href="/login.html">Login</a>instead.</p>
    </main>

</body>
</html>